{% extends "layouts.html" %}
  {% block title %}
    Home Page
  {% endblock title %}


{% block content %}
{% include "slider.html" %}
<div class="jumbotron bg-danger-subtle p-5">
  <h1 class="text-center">Home Page</h1>
  <div>
    <p>Name: {{name}}</p>
    <p>Department: {{department}}</p>
    <p>Phone: {{phone}}</p>
    <p>Friend: </p>
    <ul class="list-group">
      {% for i in friend %}
      <li class="list-group-item">{{i}}</li>
      {% endfor  %}
    </ul>
      

  </div>
</div>

{% endblock %}